extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    //- h1 Trang thêm mới sản phẩm
    //- form(
    //-     action = ""
    //-     method = "POST"
    //-     form-create-items
    //- )
    //-     div(class="form-group")
    //-         label(for = "title") Tiêu đề
    //-         input(type = "text" class = "form-control" id = "title" name = "title")
    //-     div(class="form-group")
    //-         label(for = "description") Mô tả
    //-         textarea(type = "text" class = "form-control" id = "description" name = "description") 
    //-     div(class="form-group")
    //-         label(for = "price") Giá
    //-         input(type = "number" class = "form-control" id = "price" name = "price" min = "0" value = "0")
    //-     div(class="form-group")
    //-         label(for = "discountPercentage") Giảm giá
    //-         input(type = "number" class = "form-control" id = "discountPercentage" name = "discountPercentage" min = "0" value = "0")
    //-     div(class="form-group")
    //-         label(for = "stock") Số lượng
    //-         input(type = "number" class = "form-control" id = "stock" name = "stock" min = "0" value = "0")
    //-     div(class="form-group")
    //-         label(for = "position") Vị trí
    //-         input(type = "number" class = "form-control" id = "position" name = "position" min = "0"  placeholder = "Tự động tăng")
    //-     div(class="form-group")
    //-         label(for = "thumbnail") Ảnh
    //-         input(type = "text" class = "form-control-file" id = "thumbnail" name = "thumbnail")
    //-     div(class=" form-group form-check form-check-inline")       
    //-         input(type = "radio" class = "form-check-input" id = "active" name = "status" value = "active")
    //-         label(for = "active" class = "form-check-label") Hoạt động
    //-     div(class="form-group form-check form-check-inline")        
    //-         input(type = "radio" class = "form-check-input" id = "inactive" name = "status" value = "inactive")
    //-         label(for = "inactive" class = "form-check-label") Dừng hoạt động
    //-     div(class="form-group")
    //-         button(type = "submit" class = "btn btn-primary") Tạo
    //- +alert_error("5000")
    div(class="create-product-form")
        h2 Thêm Mới Sản Phẩm 
        form(action="/admin/products/create" 
        method="POST" 
        id = "form-create-products"
        enctype="multipart/form-data"
        ) 
            div(class="form-group")
                label(for = "title") Tiêu đề
                input(type = "text" class = "form-control" id = "title" name = "title" ) 
            div(class="form-group")
                label(for = "description") Mô tả
                textarea(class = "form-control" id = "description" name = "description" rows = "3") 
            div(class="row") 
                div(class="col-md-6")
                    div(class="form-group")
                        label(for = "price") Giá
                        input(type = "number" class = "form-control" id = "price" name = "price" min = "0" value = "0" )
                div(class="col-md-6")
                    div(class="form-group")
                        label(for = "discountPercentage") Giảm giá (%)
                        input(type = "number" class = "form-control" id = "discountPercentage" name = "discountPercentage" min = "0" max = "100" value = "0")
            div(class="row") 
                div(class="col-md-6")
                    div(class="form-group")
                        label(for = "stock") Số lượng
                        input(type = "number" class = "form-control" id = "stock" name = "stock" min = "0" value = "0" )
                div(class="col-md-6")
                    div(class="form-group")
                        label(for = "position") Vị trí
                        input(type = "number" class = "form-control" id = "position" name = "position" min = "0" placeholder = "Tự động tăng")
            
            div(class="form-group" upload-image)
                label(for = "thumbnail") Ảnh
                button(type = "button" class = "btn btn-success") X
                input(type = "file" class = "form-control-file" id = "thumbnail" name = "thumbnail" accept = "image/*" upload-image-input)
                img(src = "" alt = "" upload-image-priview ) 

            div(class="form-group")
                label Trạng thái
                div
                    div(class=" form-check form-check-inline") 
                        input(type = "radio" class = "form-check-input" id = "active" name = "status" value = "active" checked) 
                        label(for = "active" class = "form-check-label") Hoạt động
                    div(class="form-check form-check-inline")
                        input(type = "radio" class = "form-check-input" id = "inactive" name = "status" value = "inactive")
                        label(for = "inactive" class = "form-check-label") Dừng hoạt động

            button(type = "submit" class = "btn btn-primary") Tạo Sản Phẩm