<section class="flash-sale">
    <div class="container">
        <div class="flash-header">
            <div class="flash-title">
                <span class="lightning">⚡</span> GIỜ VÀNG GIÁ SỐC
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="time-box" id="hours">02</div> :
                <div class="time-box" id="minutes">15</div> :
                <div class="time-box" id="seconds">45</div>
            </div>
        </div>
        <div class="flash-product-list">
            <div class="flash-item">
                <div class="tag-sale">-40%</div>
                <img src="/uploads/iphone17.webp" alt="Product">
                <div class="flash-info">
                    <div class="price">32.000.000đ</div>
                    <div class="sold-bar">
                        <div class="sold-progress" style="width: 80%"></div>
                        <span class="sold-text">Đã bán 80</span>
                    </div>
                </div>
            </div>
            <div class="flash-item">
                <div class="tag-sale">-50%</div>
                <img src="/uploads/1763180071818-OIP.webp" alt="Product">
                <div class="flash-info">
                    <div class="price">550.000đ</div>
                    <div class="sold-bar">
                        <div class="sold-progress" style="width: 40%"></div>
                        <span class="sold-text">Đã bán 12</span>
                    </div>
                </div>
            </div>
            <div class="flash-item">
                <div class="tag-sale">-50%</div>
                <img src="/uploads/1763180515774-OIP (5).webp" alt="Product">
                <div class="flash-info">
                    <div class="price">550.000đ</div>
                    <div class="sold-bar">
                        <div class="sold-progress" style="width: 40%"></div>
                        <span class="sold-text">Đã bán 12</span>
                    </div>
                </div>
            </div>
            <div class="flash-item">
                <div class="tag-sale">-50%</div>
                <img src="/uploads/1763180618228-OIP (7).webp" alt="Product">
                <div class="flash-info">
                    <div class="price">550.000đ</div>
                    <div class="sold-bar">
                        <div class="sold-progress" style="width: 40%"></div>
                        <span class="sold-text">Đã bán 12</span>
                    </div>
                </div>
            </div>
            <div class="flash-item">
                <div class="tag-sale">-50%</div>
                <img src="/uploads/1763180739183-OIP (10).webp" alt="Product">
                <div class="flash-info">
                    <div class="price">550.000đ</div>
                    <div class="sold-bar">
                        <div class="sold-progress" style="width: 40%"></div>
                        <span class="sold-text">Đã bán 12</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>