<footer class="site-footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Về Chúng Tôi</h4>
                <p>Website thương mại điện tử chuyên cung cấp các sản phẩm công nghệ và thể thao chính hãng.</p>
            </div>
            <div class="footer-col">
                <h4>Liên Hệ</h4>
                <ul>
                <li>Hotline: 1900 1234</li>
                <li>Email: support@shop.com</li>
                <li>Địa chỉ: Hà Nội, Việt Nam</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Chính Sách</h4>
                <ul>
                <li>Chính sách bảo hành</li>
                <li>Đổi trả hàng</li>
                <li>Vận chuyển</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
        <p>Copyright © 2025 YourShopName. All rights reserved.</p>
        </div>
    </div>
</footer>