header(class="header")
    div(class="container")
        div(class = "row")
            div(class="col-3")
                div(class="inner-logo")
                    img(src = "/client/images/cellphoneS_logo-1024x341.png" alt = "" width = "200px" height = "auto")
            div(class="col-9")
                div(class="inner-menu")
                    ul 
                        li 
                            a(href = "/") Trang chủ
                        li 
                            a(href = "/products") Sản phẩm