extends ../../layouts/default.pug
include ../../mixins/products-layout.pug
include ../../mixins/alert.pug
block main 
    +alert_success("5000")
    +alert_error("5000")

    div(class = "section-one")
        div(class="container")
            div(class="row")
                div(class = "col-12")
                    div(class="inner-head")
                        h1(class="inner-title") Sản phẩm nổi bật
            +products-grid(productsFeatured)
    
            div(class="row")
                div(class = "col-12")
                    div(class="inner-head")
                        h1(class="inner-title") Sản phẩm mới
            +products-grid(productsNew)
            