extends ../../layouts/auth.pug
include ../../mixins/alert.pug
block main 
    +alert_success("5000")
    +alert_error("5000")
    .container.my-5 
        .row.justify-content-center
            .col-8 
                h3 Lấy lại mật khẩu
                form(
                    action = "/user/password/forgot"
                    method = "POST"
                )
                    
                    div(class="form-group")
                        label(for="email") Email
                        input(class="form-control" type = "text" id = "email" name = "email" required) 
                    
                    div(class="form-group")
                        button(type = "submit" class = "btn btn-primary btn-block") Lấy lại mật khẩu