extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert_success("5000")
    h3 Trang chỉnh sửa thông tin cá nhân
    form(action=`/admin/my-account/edit?_method=PATCH` 
        method="POST" 
        enctype="multipart/form-data")
            
        div(class="form-group")
            label(for = "fullname") Họ tên *
            input(type = "text" class = "form-control" id = "fullname" name = "fullname" value = user.fullname) 
        div(class="form-group")
            label(for = "email") Email *
            input(type = "text" class = "form-control" id = "email " name = "email" value = user.email ) 
        
        div(class="form-group")
            label(for = "phone") Điện thoại
            input(type = "text" class = "form-control" id = "phone " name = "phone" value = user.phone )
        
        
        div(class="form-group" upload-image)
            label(for = "avatar") Ảnh
            button(type = "button" class = "btn btn-success") X
            input(type = "file" class = "form-control-file" id = "avatar" name = "avatar" accept = "image/*" upload-image-input)
            img(src = user.avatar alt = user.fullname upload-image-priview )
        div(class="form-group")
            span Phân quyền : <b>#{role.title}</b> 
            

        div(class="form-group")
            label Trạng thái
            div
                div(class=" form-check form-check-inline") 
                    input(type = "radio" class = "form-check-input" id = "active" name = "status" value = "active" checked= (user.status === "active" ? true : false)) 
                    label(for = "active" class = "for   m-check-label" ) Hoạt động
                div(class="form-check form-check-inline")
                    input(type = "radio" class = "form-check-input" id = "inactive" name = "status" value = "inactive" checked= (user.status === "inactive" ? true : false))
                    label(for = "inactive" class = "form-check-label" ) Dừng hoạt động

        button(type = "submit" class = "btn btn-primary") Cập nhập