header(class="header")
    div(class="container-fluid")
        div(class="row")
            div(class="col-3")
                div(class="inner-logo")
                    a(href = "/admin") ADMIN
            div(class="col-9")