div(class="slider")
    div(class="inner-menu")
        ul
            li 
                a(href = "/admin") Tổng quan
            li 
                a(href = `${prifixAmin}/products-category`) Danh mục sản phẩm
            li 
                a(href = "/admin/products") Danh sách sản phẩm
            li 
                a(href = "/admin/roles") Nhóm quyền
            li 
                a(href = "/admin/roles/permissions") Phân quyền